spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${GATEWAY_JWK_SET_URI:}
          issuer-uri: ${GATEWAY_ISSUER_URI:}

security:
  resource-server:
    enabled: false
    allowed-origins:
      - https://lms.example.com
      - https://admin.lms.example.com
    permit-all: &security-permit-all
      - ${shared.patterns.auth.api-auth}
      - ${shared.patterns.auth.api-auth-superadmin}
      - ${shared.patterns.auth.api-auth-v1}
      - ${shared.patterns.auth.api-auth-sec}
      - ${shared.patterns.auth.api-v1-superadmin}
      - ${shared.patterns.auth.api-sec-superadmin}
      - ${shared.patterns.auth.auth-admin}
      - ${shared.patterns.auth.auth-sec-admin}
      - ${shared.patterns.auth.auth-root}
      - ${shared.patterns.auth.login}
      - ${shared.patterns.actuator.health}
      - ${shared.patterns.actuator.info}
      - ${shared.patterns.actuator.prometheus}
      - ${shared.patterns.docs.api-v3-single}
      - ${shared.patterns.docs.api-v3-double}
      - ${shared.patterns.docs.api-swagger-single}
      - ${shared.patterns.docs.api-swagger-double}
      - ${shared.patterns.docs.api-swagger-html-single}
      - ${shared.patterns.docs.api-swagger-html-double}
      - ${shared.patterns.docs.root-v3}
      - ${shared.patterns.docs.root-swagger}
      - ${shared.patterns.docs.root-swagger-html}
    disable-csrf: true
    jwk-set-uri: ${spring.security.oauth2.resourceserver.jwt.jwk-set-uri}
    issuer-uri: ${spring.security.oauth2.resourceserver.jwt.issuer-uri}
  cors:
    allow-credentials: false
    max-age: 3600
