spring:
  config:
    import: optional:classpath:application-shared-service.yaml
  main:
    lazy-initialization: ${SPRING_MAIN_LAZY_INITIALIZATION:true}
    application-startup: buffering
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:http://localhost:29092}
    consumer:
      group-id: ${KAFKA_CONSUMER_GROUP:ejada-backend-dev}
      auto-offset-reset: earliest
      enable-auto-commit: false
      properties:
        max.poll.interval.ms: 300000
        max.poll.records: 500
    producer:
      acks: all
      retries: 3
      batch-size: 16384
      compression-type: gzip
      properties:
        linger.ms: 5
  data:
    redis:
      repositories:
        enabled: false
