spring:
  application:
    name: subscription-service
  profiles:
    active: dev
  flyway:
    baseline-on-migrate: true
    baseline-version: 0
    default-schema: subscription
    schemas: subscription

server:
  port: 8080
  shutdown: graceful
  servlet:
    context-path: /subscription
  compression:
    enabled: true
    mime-types:
      - text/html
      - text/plain
      - text/css
      - application/json
      - application/javascript
    min-response-size: 2KB
  error:
    include-message: always
    include-binding-errors: always

shared:
  observability:
    application-name: subscription-service
  security:
    enable-role-check: true
    jwt:
      token-period: 15m

subscription:
  security:
    jwt:
      secret: ${SUBSCRIPTION_JWT_SECRET:change-me-change-me-change-me-change}
      expiration: 30m
    users:
      - loginName: demo
        password: b03ddf3ca2e714a6548e7495e2a03f5e824eaac9837cd7f159c67b90fb4b7342