server:
  port: 8084

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/email
    username: email
    password: email
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
