server:
  port: 8082

spring:
  kafka:
    bootstrap-servers: localhost:29092
  data:
    redis:
      host: localhost
      port: 6379
  datasource:
    url: "${DB_URL:jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:ne}?currentSchema=email}"
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration/common,classpath:db/migration/{vendor}

kafka:
  topics:
    email-send: email.send
    email-bulk: email.bulk
    dead-letter: email.dlq

rate-limit:
  capacity: 200
  refill-per-minute: 200

shared:
  core:
    tenant:
      resolve-from-jwt: true
      prefer-header-over-jwt: false