server:
  port: 8082

spring:
  kafka:
    bootstrap-servers: localhost:29092
  data:
    redis:
      host: localhost
      port: 6379

kafka:
  topics:
    email-send: email.send
    email-bulk: email.bulk
    dead-letter: email.dlq

rate-limit:
  capacity: 200
  refill-per-minute: 200
