spring:
  application:
    name: system-admin-service
  profiles:
    active: dev
  flyway:
    baseline-on-migrate: true
    baseline-version: 0
    schemas: public,admin
    default-schema: admin
    placeholders:
      superadminPasswordHash: '${SUPERADMIN_PASSWORD_HASH:$2b$12$ySQKTgxd1J24X3Y9PE/Hw.oNYwR.aLalMKtoWh/5okcE5I3ciSzQO}'
server:
  port: 8080
  shutdown: graceful
  servlet:
    context-path: /admin
  compression:
    enabled: true
    mime-types:
      - text/html
      - text/plain
      - text/css
      - application/json
      - application/javascript
    min-response-size: 2KB
  error:
    include-message: always
    include-binding-errors: always

shared:
  security:
    enable-role-check: true
    jwt:
      token-period: 15m