spring:
  config:
    import: optional:classpath:application-shared-platform-dev.yaml
  cache:
    type: simple
  data:
    redis:
      repositories:
        enabled: false

management:
  health:
    redis:
      enabled: false

shared:
  redis:
    enabled: false
