<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp/>
        <logLevel/>
        <loggerName/>
        <threadName/>
        <pattern>
          <pattern>{"message":"%message","X-Correlation-Id":"%X{X-Correlation-Id}"}</pattern>
        </pattern>
        <mdc/>
      </providers>
    </encoder>
  </appender>

  <springProfile name="otel">
    <appender name="OTEL" class="io.opentelemetry.instrumentation.logback.mdc.v1_0.OpenTelemetryAppender"/>
    <root level="INFO">
      <appender-ref ref="OTEL"/>
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <springProfile name="!otel">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>
</configuration>
