<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="com.ejada.common.logging.BomStrippingLoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp/>
        <logLevel/>
        <loggerName/>
        <threadName/>
        <pattern>
          <pattern>{"message":"%message","X-Correlation-Id":"%X{X-Correlation-Id}"}</pattern>
        </pattern>
        <mdc>
          <excludeMdcKeyName>X-Correlation-Id</excludeMdcKeyName>
        </mdc>
      </providers>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
