spring:
  application:
    name: email-template-service
  profiles:
    active: dev
  flyway:
    baseline-on-migrate: true
    baseline-version: 0
    schemas: public,tenant
    default-schema: tenant
server:
  port: 8081
  shutdown: graceful
  servlet:
    context-path: /tenant
  compression:
    enabled: true
    mime-types:
      - text/html
      - text/plain
      - text/css
      - application/json
      - application/javascript
    min-response-size: 2KB
  error:
    include-message: always
    include-binding-errors: always

shared:
  observability:
    application-name: email-template-service
  security:
    enable-role-check: true
    jwt:
      token-period: 15m

tenant:
  kafka:
    topics:
      tenant-onboarding: "${TENANT_KAFKA_TENANT_TOPIC:email-management.onboarding.tenants}"
